<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.processa.XamarinExam">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="XamarinExam.Droid" android:icon="@drawable/icon"></application>
</manifest>